extends layout

block content

    include nav.pug
    .jumbotron.bg-secondary
        .container.text-light
                h1.text-center= match[0].match_hometeam_name
                    |
                    span.mr-3.ml-1= match[0].match_hometeam_score
                    |
                    span.mr-1= match[0].match_awayteam_name
                    |
                    span= match[0].match_awayteam_score
    .container
        .row
            .col-sm
                .card(style='width: 20rem;')
                    .card-body
                    h5.card-title.text-center Key Events
                    table.ml-4
                        thead.thead-dark
                            tr
                                th Minute
                                th Player
                                th Score
                            tbody
                                each goal in match[0].goalscorer
                                    if goal.time
                                    tr
                                        td= goal.time
                                        if goal.home_scorer
                                            td= goal.home_scorer
                                        else
                                            td= goal.away_scorer
                                        td= goal.score
                                else
                                    tr
                                        td
                                        td
                                        td There is no score 
                    table.ml-4
                        thead.thead-dark
                            tr
                                th Minute
                                th Player
                                th Card
                            tbody
                                each card in match[0].cards
                                    if card.time
                                    tr
                                        td= card.time
                                        if card.home_fault
                                            td= card.home_fault
                                        else
                                            td= card.away_fault
                                        td= card.card
                                else
                                    tr
                                        td
                                        td
                                        td There are no cards
                    .container.main                    
                        table.ml-4
                            thead.thead-dark
                                tr
                                    th Home
                                    th Minute
                                    th Player In - Out
                                tbody.subs
                                    each sub in match[0].lineup.home.substitutions
                                        if sub.lineup_player
                                        tr
                                            td
                                            td= sub.lineup_time
                                            td= sub.lineup_player
                                    else
                                            tr
                                                td 
                                                td
                                                td There is no subs 
                        table.ml-4
                            thead.thead-dark
                                tr
                                    th Away
                                    th Minute
                                    th Player In - Out
                                tbody.subs
                                    each sub in match[0].lineup.away.substitutions
                                        if sub.lineup_player
                                        tr
                                            td
                                            td= sub.lineup_time
                                            td= sub.lineup_player
                                    else
                                            tr
                                                td 
                                                td
                                                td There is no subs 

            .col-sm
             .card(style='width: 20rem;')
                    .card-body
                    h5.card-title.text-center Stats
                        if match[0].match_live
                            h4 There are no active statistics
                        else
                            h6.text-center Shots On Target
                            p.text-center
                                | Home
                                span.ml-1.mr-3.home_Sot= match[0].statistics[0].home
                                span.mr-1.away_Sot= match[0].statistics[0].away
                                | Away
                            .container
                                .progress.sot
                                    .progress-bar(role='progressbar', style="width:25%", aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
                            h6.text-center.mt-3 Shots Off Target
                            p.text-center
                                | Home
                                span.ml-1.mr-3.home_Sof= match[0].statistics[1].home
                                span.mr-1.away_Sof= match[0].statistics[1].away
                                | Away
                            .container
                                .progress.sof
                                    .progress-bar(role='progressbar', style="width:25%", aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
                            h6.text-center.mt-3 Possession
                            p.text-center
                                | Home %
                                span.ml-1.mr-3.home_Pos= match[0].statistics[2].home
                                span.mr-1.away_Pos= match[0].statistics[2].away
                                | Away %
                            .container
                                .progress.pos
                                    .progress-bar(role='progressbar', style="width:25%", aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
                            h6.text-center.mt-3 Corners
                            p.text-center
                                | Home 
                                span.ml-1.mr-3.home_Cor= match[0].statistics[3].home
                                span.mr-1.away_Cor= match[0].statistics[3].away
                                | Away 
                            .container
                                .progress.cor
                                    .progress-bar(role='progressbar', style="width:25%", aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
                            h6.text-center.mt-3 Offside
                            p.text-center
                                | Home 
                                span.ml-1.mr-3.home_Off= match[0].statistics[4].home
                                span.mr-1.away_Off= match[0].statistics[4].away
                                | Away 
                            .container
                                .progress.off
                                    .progress-bar(role='progressbar', style="width:25%", aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
                            h6.text-center.mt-3 Fouls
                            p.text-center
                                | Home 
                                span.ml-1.mr-3.home_Fou= match[0].statistics[5].home
                                span.mr-1.away_Fou= match[0].statistics[5].away
                                | Away 
                            .container
                                .progress.fou
                                    .progress-bar(role='progressbar', style="width:25%", aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')

            .col-sm
                .card(style='width: 20rem;')
                    .card-body
                    h5.card-title.text-center Weather
                    p.text-center.p-3
                        | Temperature : 
                        span= dailyForecast.temp.eve
                        | °C
                    p.text-center.p-3
                        | Humidity :
                        span= dailyForecast.humidity 
                        | %
                    p.text-center.p-3
                        | Weather Info : 
                        span= dailyForecast.weather[0].description
                        |
                    img.rounded.mx-auto.d-block(src="/images/"+ dailyForecast.weather[0].icon+".svg")

    include footer.pug




