extends layout

block content
  include nav.pug
  .jumbotron
    h1.display-4 Wellcome the Football Scores Page !!
    p.lead
      | You can find out several league results, statistic, weather detail and much more ...
  .container
    .row
      .col-sm
        .row.pl-3
          .form-row.align-items-center
            .col-auto.my-1
              label.mr-sm-2.sr-only(for='inlineFormCustomSelect') Select League
              select#inlineFormCustomSelect.custom-select.mr-sm-2.selectLeague
                each league in leagues
                  option(value=league.leagueId) #{league.leagueName} 
            .col-auto.my-1
              button.btn.btn-primary.selectButton(type='submit') Submit            
        h4 Lasted Scores
        table.table.tableScore
          thead.thead-dark
            tr
              th(scope='col') Date
              th(scope='col') Start
              th(scope='col') Home Team
              th(scope='col') Score
              th(scope='col') Away Team
              th(scope='col') Score
              th
          tbody
            each match in matchs
              tr.team
                td= match.match_date
                td= match.match_time
                td= match.match_hometeam_name
                td= match.match_hometeam_score
                td= match.match_awayteam_name
                td= match.match_awayteam_score
                td
                  button.btn.btn-primary
                    a.text-white(href='/match_detail/'+ match.match_hometeam_name) Details
          tbody.selectedteam
            tr
  include footer.pug

 


