extends layout

block content
  //- script.
  //-   var test1= document.getElementById('week').innerHTML
  //-   console.log(test1)
  include nav.pug
  .container
    .row.p-1
      .col-sm
        .row.pl-3
          //- form(method='POST' action='/standing') 
          //-   .form-row.align-items-center
          //-     .col-auto.my-1
        h4
          a#changeminusWeek(href='/previous/')
            img(src='/images/left.svg')   
          | Match Day 
          span#week #{matchs[0].numberOfWeek}
          a#changeplusWeek(href='/previous/')
            img(src='/images/right.svg')          
        table.table
          thead.thead-dark
            tr
              th.d-none.d-sm-table-cell(scope='col') Date
              th.d-none.d-sm-table-cell(scope='col') Start
              th(scope='col') Home Team
              th(scope='col') Score
              th(scope='col') Away Team
              th(scope='col') Score
              th.d-none.d-sm-table-cell
          tbody
            each match in matchs
              tr
                td.d-none.d-sm-table-cell= moment(match.match_date).format('MM/DD/YYYY')
                td.d-none.d-sm-table-cell= match.match_time
                td= match.match_hometeam_name
                td= match.match_hometeam_score
                td= match.match_awayteam_name
                td= match.match_awayteam_score
                td.d-none.d-sm-table-cell
                  button.btn.btn-primary
                    a.text-white(href='/prev_detail/'+match.match_id) Details

  include footer.pug
