extends layout

block content
  include nav.pug
  .container
    .row.p-1
      .col-sm
        .row.pl-3
          form(method='POST' action='/standing') 
            .form-row.align-items-center
              .col-auto.my-1
                label.mr-sm-2.sr-only(for='inlineFormCustomSelect') Select League
                select#inlineFormCustomSelect.custom-select.mr-sm-2.selectLeague(name='selectleague')
                  each league in leagues
                    option(value=league.leagueId) #{league.leagueName}  
              .col-auto.my-1
                button.btn.btn-primary.selectButton(type='submit') Submit      
        h4 Standings #{stand[0].league_name}
        table.table
          thead.thead-dark
            tr.tsTitles
              th(scope='col') Rank
              th(scope='col') Team Name
              th(scope='col') Played
              th(scope='col') Win
              th(scope='col') Draw
              th(scope='col') Lose
              th(scope='col') Goal
              th(scope='col') Con.
              th(scope='col') Points
          tbody.tsGroup
            each team in stand
              tr
                td= team.overall_league_position
                td= team.team_name
                td= team.overall_league_payed
                td= team.overall_league_W
                td= team.overall_league_D
                td= team.overall_league_L
                td= team.overall_league_GF
                td= team.overall_league_GA
                td= team.overall_league_PTS


 
  include footer.pug




